@import "./colors.module.scss";
@import "./error.module.scss";
@import "./header.module.scss";
@import "./home.module.scss";
@import "./menu.module.scss";
@import "./nav.module.scss";
@import "./switch.module.scss";
@import "./scrolltext.module.scss";
@import "./hero.module.scss";
@import "./about.module.scss";
@import "./projects.module.scss";
@import "./horizontalscroll.module.scss";
@import "./footer.module.scss";
@import "./contact.module.scss";
@import "./loader.module.scss";

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer et Edge */
}

/* Pour les navigateurs WebKit (Chrome et Safari) */
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 0;
  font-family: "Roboto", "Anton", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2vw;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

// Scroll
