
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1000; 
    background-color: transparent;
    transform: translateY(0%);
    transition: 1.4s transform cubic-bezier(.455, .03, .515, .955);


        .progress {
            z-index: 1000;
          width: 48px;
          height: 48px;
          border: 5px solid ;
          border-bottom-color: transparent;
          border-radius: 50%;
          display: inline-block;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;
          }

          .stripe{   
            z-index: 1000; 
            background-color: $primary;
            position: fixed;
            height: 100%;
            width: 25%;
            top: 0;
            z-index: 1;
            transition: .35s transform cubic-bezier(.455, .03, .515, .955);
            transform: translateY(0%);
      
      
           
          }
          .stripe:nth-child(2) {
            left: 0;
            transition-delay: .3s;
        }
        .stripe:nth-child(3) {
            left: 25%;
            transition-delay: .4s;
        }
        .stripe:nth-child(4) {
            left: 50%;
            transition-delay: .5s;
        }
        .stripe:nth-child(5) {
            left: 75%;
            transition-delay: .6s;
        }
      
          @keyframes rotation {
          0% {
              transform: rotate(0deg);
          }
          100% {
              transform: rotate(360deg);
          }
          } 
      
      }
  

    @keyframes prog {
        to  {   width: 100%;}
      }



.loaded {
  transform: translateY(-100%);

      .stripe{
        transform: translateY(-100%);
      }
      .progress{
        opacity: 0;
    }
    }
   
 