
$cream: #fff7f0;
$black: #262523;
$white: #fff;


.light {
    background-color: $cream;
    color: $black;
    border: $black;
    .nav-link:hover {
        border-bottom: 1px solid $black;
        color: $black;
      }
  }
  
  .dark {
    background-color: $black;
    color: $cream;
    border: $cream;
  }
  