
$primary: #fff7f0;
$secondary: #262523;
$thirdly: #7F4F58;
$white: #ffff;


.light {
    background-color: $primary;
    color: $secondary;
    border: $secondary;
    background: $primary;
    a{
      color:$secondary;
    }
    ul{
      background-color: $primary;
    }
    .view-visit{
      -webkit-text-stroke: 2px $secondary;
    }
  }
  
  .dark {

    stroke: $primary;
    background-color: $secondary;
    color: $primary;
    border: $primary;
    background: $secondary;
    a{
      color: $primary;
    }
    ul{
      background-color: $secondary;
    }
    .view-visit{
      -webkit-text-stroke: 2px $primary;
    }
  }
  
 


