
$cream: #fff7f0;
$black: #262523;
$white: #fff;
$yellow: rgb(221, 199, 0);


.light {
    background-color: $cream;
    color: $black;
    border: $black;
    background: $cream;
  }
  
  .dark {
    background-color: $black;
    color: $cream;
    border: $cream;
    background: $black;
  }
  