footer {
  border-top:solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px; 
    
    .social-media {
      width: 100%;
      display: flex;
      justify-content: center;
      
      img {
        width: 40px; 
        margin-left: 10px; 
        margin-right: 10px; 
      }
    }
    
    p {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 100%;
      margin-top: 15px; 
      font-size: 20px; 
      font-family: Roboto;
      font-weight: 400;
      word-wrap: break-word;
      margin-bottom: 00px;
    }
  }
  
  @media screen and (max-width: 768px) {
    footer {
      height: 120px; 
    p {
      // margin-top: 1vw; 
      font-size: 10px; 
    }
  }
  }