.hero { 
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 0.2vh;

    h1 {
      width: 100%;
      // height: 100%;
      font-size: 13.9vw; 
      font-family: "Anton";
      font-weight: 400;
      line-height: 13.9vw;
      word-wrap: break-word;
      text-transform: uppercase;
      margin-bottom: -0.6vw;
    }

    .subtitle {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-top: -0.8vw; 

      .container-reverse {
        margin-left: 3.6125vw; /* 51.4px en vw */
        text-transform: uppercase;
    
        .item-one,
        .item-two {
          font-size: 6.9845vw; 
          font-family: "Anton";
          font-weight: 400;
          line-height: 5.8vw; 
          letter-spacing:  0.424375vw ; 
        }
        .item-two {
          transform: scaleY(-1);
        }
      }

      .description {
        font-size: 1.3889vw; /* 20px en vw */
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        line-height: 2.0833vw; /* 30px en vw */
        word-wrap: break-word;
      }
    }
  }

  @media screen and (max-width: 425px) {
    main {
      .hero { 
        margin-left: 10px;
        // margin-top: -200.9vw;
      }
    }
  }
  