@import "./colors.scss";
@import "./error.scss";
@import "./header.scss";
@import "./home.scss";
@import "./menu.scss";
@import "./nav.scss";
@import "./switch.scss";
@import "./scrolltext.scss";

/* Masquer la barre de défilement */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer et Edge */
}

/* Pour les navigateurs WebKit (Chrome et Safari) */
body::-webkit-scrollbar {
  width: 0;
  display: none;
}


body {
  min-width: 320px;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    font-family: "Roboto", "Anton", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2vw;
  }
  
  *,
  :after,
  :before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
  }

  

