.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 100px;
}

.menu li {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 20px;
}



@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
