.scroll { 
    width: 100%;
    display: flex;
    flex-direction: column;

    .container-scroll {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;

      .scroll-text {
        display: block;
        animation: defilement 20s infinite linear;
        white-space: nowrap;
        text-align: left;
        font-size: 3vw; /* 20px en vw */
        font-family: "Anton", sans-serif;
        font-weight: 400;
        letter-spacing: 0.5556vw; /* 8px en vw */
        text-transform: uppercase;
        border-top: 2px solid; /* 2px en vw */
      
      }

      .scroll-text:after {
        content: attr(data-text);
        position: absolute;
        white-space: nowrap;
        padding-left: 0.6944vw; /* 10px en vw */
      }
    }
  }

  @keyframes defilement {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -69.4444vw; /* -100% en vw */
    }
  }