@import "../utils/_variables";

button {
  border: solid 1px;
  display: flex;
  width: 150px;
  font-weight: 400;
  padding: 10px;
  border-radius: 30px;
  height: 5vh;
  width: 150px;
  align-items: center;
  justify-content: center;
  transition: 0.8s;

  &:hover {
    cursor: pointer;
    color: $accent-color;
  }
}
